<div class="container">
	<h2>{{ 'WS_REGISTRATION_DATA' | translate }}</h2>
	<div class="row data-item">
		<div class="col-4">{{ 'FIRST_NAME' | translate }}: </div>
		<div class="col-8">{{wsReg.firstName}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'LAST_NAME' | translate }}: </div>
		<div class="col-8">{{wsReg.lastName}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'COMPANY' | translate }}: </div>
		<div class="col-8">{{wsReg.company}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'ADDRESS' | translate }}: </div>
		<div class="col-8">{{wsReg.address}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'CITY' | translate }}: </div>
		<div class="col-8">{{wsReg.city}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'STATE' | translate }}: </div>
		<div class="col-8">{{wsReg.state}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'COUNTRY' | translate }}: </div>
		<div class="col-8">{{wsReg.country}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'EMAIL' | translate }}: </div>
		<div class="col-8">{{wsReg.email}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'PHONE_NUMBER' | translate }}: </div>
		<div class="col-8">{{wsReg.phoneNumber}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'MEAL_PREFERENCE' | translate }}: </div>
		<div class="col-8">{{wsReg.mealPref}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'PAYMENT_MODE' | translate }}: </div>
		<div class="col-8">
			<spam ng-show="wsReg.paymentDetails.cash">{{ 'CASH' | translate }}<br></spam>
			<spam ng-show="wsReg.paymentDetails.cheque">{{ 'CHEQUE' | translate }}<br></spam>
			<spam ng-show="wsReg.paymentDetails.demandDraft">{{ 'DEMAND_DRAFT' | translate }}<br></spam>
		</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'CHEQUE_NO' | translate }}: </div>
		<div class="col-8">{{wsReg.cheque}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'DRAWN_ON' | translate }}: </div>
		<div class="col-8">{{wsReg.drawnOn}}</div>
	</div>
	<div class="row data-item">
		<div class="col-4">{{ 'PAYABLE_AT' | translate }}: </div>
		<div class="col-8">{{wsReg.payableAt}}</div>
	</div>
	<div class="row">
		<button class="button" ng-click="goBack()">{{ 'BACK' | translate }}</button>
		<button class="button" ng-click="confirm()">{{ 'CONFIRM' | translate }}</button>
	</div>
</div>